<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>USER PAGE AND NO USER</title>
</head>
<body>
  <h1>WHAT IS USER PAGE?</h1>
  <p>
    User pages are administration pages in the User and User talk namespaces, and are useful for organizing and aiding the work users do on Wikipedia, and facilitating interaction and sharing between users. User pages are mainly for interpersonal discussion, notices, testing and drafts (see: Sandboxes), and, if desired, limited autobiographical and personal content.(From Wikipedia)
  </p>
  <footer>
    <p>
      However, I don't have any users yet.
    </p>
  </footer>
</body>
</html>
